@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes progress {
  0% {
    width: 0%; }
  100% {
    width: var(--percentage); } }

@keyframes social {
  0% {
    opacity: 0; }
  50% {
    opacity: 1;
    transform: scale(1.2); }
  100% {
    opacity: 0; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 62.5em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

body {
  font-family: "Baloo Tamma 2", cursive;
  font-weight: 400;
  line-height: 1.6;
  color: #dfdddd;
  font-size: 1.6rem; }

.heading-primary,
.heading-secondary,
.heading-tertiary,
.heading-quartenary,
.heading-primary--main,
.heading-primary--sub {
  font-family: "Itim", cursive; }

.heading-primary--profile {
  font-size: 4rem;
  font-weight: 400; }

.heading-primary--main {
  display: block;
  font-size: 4.8rem;
  font-weight: 300;
  letter-spacing: 1.5rem; }
  .heading-primary--main-gr {
    letter-spacing: 0.7rem; }
  @media only screen and (max-width: 87.5em) {
    .heading-primary--main {
      letter-spacing: 0.1rem; } }
  @media only screen and (max-width: 75em) {
    .heading-primary--main {
      letter-spacing: 0;
      font-size: 4.6rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-primary--main {
      font-size: 4rem; } }

.heading-primary--sub {
  display: block;
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 0.5rem; }
  .heading-primary--sub-gr {
    font-size: 3rem;
    letter-spacing: 0.3rem; }
  @media only screen and (max-width: 87.5em) {
    .heading-primary--sub {
      letter-spacing: 0.1rem; } }
  @media only screen and (max-width: 75em) {
    .heading-primary--sub {
      letter-spacing: 0;
      font-size: 3.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-primary--sub {
      font-size: 3.5rem; } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700; }

.heading-tertiary {
  font-size: 3rem;
  text-transform: uppercase; }

.paragraph {
  font-size: 2rem;
  letter-spacing: 2px; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.heading-quartenary {
  font-size: 2.5rem;
  text-transform: uppercase; }

u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-small {
  margin-top: 1.5rem !important; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  position: relative;
  transition: all 0.2s;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.15); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3); }

.btn--yellow {
  background: linear-gradient(to right bottom, rgba(226, 160, 45, 0.8), rgba(245, 175, 51, 0.7));
  color: #dfdddd; }
  .btn--yellow::after {
    background: linear-gradient(to right bottom, rgba(226, 160, 45, 0.8), rgba(245, 175, 51, 0.7)); }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

ion-icon,
i {
  font-size: 7rem;
  color: #0149b4; }

.footer {
  background-color: #101d2c;
  color: #dfdddd;
  padding: 5rem 0;
  overflow-x: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }
  .footer__email {
    flex: 0 1 50%;
    margin-left: 4rem;
    display: flex;
    justify-content: flex-start;
    align-items: center; }
    .footer__email--icon {
      font-size: 2.5rem;
      margin-right: 2rem; }
  .footer__social {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    .footer__social--link {
      align-self: center;
      text-decoration: none;
      width: 6rem;
      height: 6rem;
      background-color: #ffb73a;
      border-radius: 50%;
      margin-right: 3rem;
      box-shadow: 0.5rem 0.5rem 2rem 0.5rem #f5af33, -0.5rem -0.5rem 2rem 0.5rem #f5af33; }
      .footer__social--link:link, .footer__social--link:visited {
        transform: scale(0.8);
        animation: social 3s linear infinite; }
        .footer__social--link:link:nth-child(1), .footer__social--link:visited:nth-child(1) {
          animation-delay: 0s; }
        .footer__social--link:link:nth-child(2), .footer__social--link:visited:nth-child(2) {
          animation-delay: 0.3s; }
        .footer__social--link:link:nth-child(3), .footer__social--link:visited:nth-child(3) {
          animation-delay: 0.6s; }
        .footer__social--link:link:nth-child(4), .footer__social--link:visited:nth-child(4) {
          animation-delay: 0.9s;
          margin-right: 4rem; }
        .footer__social--link:link:nth-child(5), .footer__social--link:visited:nth-child(5) {
          animation-delay: 1.2s; }
      .footer__social--link:hover {
        animation: step-end; }
      .footer__social--link i {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.5rem; }
  .footer__copyright {
    flex: 0 1 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3rem; }

@media only screen and (max-width: 37.5em) {
  .footer__email {
    margin-left: 0;
    flex: 0 1 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 4rem; }
  .footer__social {
    flex: 0 1 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 4rem;
    margin-left: 3rem; }
    .footer__social--link {
      width: 4rem;
      height: 4rem; }
  .footer__copyright {
    padding-top: 0; } }

.header {
  background-color: #101d2c;
  width: 95vw;
  height: 7rem;
  position: fixed;
  overflow-x: hidden;
  text-transform: uppercase;
  display: flex;
  z-index: 2; }
  @media only screen and (max-width: 62.5em) {
    .header {
      width: 100vw;
      margin: 0 auto;
      box-shadow: none; } }
  .header__favicon {
    flex: 0 1 30%;
    align-self: center;
    justify-self: flex-start;
    padding: 2rem 0; }
    .header__favicon img {
      display: block;
      width: 5.5rem;
      height: 5.5rem;
      border-radius: 50%;
      animation: moveInRight 1s ease-out;
      margin-left: 2rem; }
  .header__nav {
    width: 100%;
    height: 100%;
    flex: 1; }
    .header__nav--links {
      width: 100%;
      height: 100%;
      list-style: none;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      animation: moveInLeft 1s ease-out; }
      .header__nav--links li {
        padding-right: 3vw; }
        .header__nav--links li .main__links {
          text-decoration: none;
          font-size: 1.6rem;
          color: #dfdddd;
          position: relative;
          padding: 0.2rem 0.6rem;
          font-size: calc(1rem + 0.66667vw); }
          .header__nav--links li .main__links::before, .header__nav--links li .main__links::after {
            content: "";
            position: absolute;
            left: 0;
            width: 100%;
            height: 0.25rem;
            background-color: #0149b4;
            transform: scaleX(0);
            transition: transform 0.3s cubic-bezier(1, 0, 0, 1); }
          .header__nav--links li .main__links:link::before, .header__nav--links li .main__links:visited::before {
            top: 0;
            transform-origin: left; }
          .header__nav--links li .main__links:link::after, .header__nav--links li .main__links:visited::after {
            bottom: 0;
            transform-origin: right; }
          .header__nav--links li .main__links:hover::before, .header__nav--links li .main__links:active::before, .header__nav--links li .main__links:hover::after, .header__nav--links li .main__links:active::after {
            transform: scaleX(1); }
        .header__nav--links li .flag__links {
          cursor: pointer; }
          .header__nav--links li .flag__links img:link,
          .header__nav--links li .flag__links img:visited {
            transition: transform 0.3s; }
          .header__nav--links li .flag__links img:hover,
          .header__nav--links li .flag__links img:active {
            transform: scale(0.9); }
        .header__nav--links li .flag {
          width: 2rem;
          height: 1.5rem;
          text-decoration: none; }

@media only screen and (max-width: 50em) {
  .header {
    width: 100vw; }
    .header__nav {
      width: 30rem;
      height: 100vh;
      position: fixed;
      top: 0;
      right: -30rem;
      background: rgba(16, 29, 44, 0.95);
      text-align: center;
      overflow: scroll; }
      .header__nav--hamburger {
        width: 5rem;
        height: 5rem;
        position: fixed;
        top: 1rem;
        right: 3rem;
        cursor: pointer;
        background-color: #101d2c;
        padding: 1rem;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around; }
        .header__nav--hamburger .line {
          width: 100%;
          height: 0.3rem;
          background-color: #dfdddd;
          border-radius: 0.2rem;
          transition: all 0.4s ease-in-out; }
      .header__nav--links {
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .header__nav--links li {
          width: 100%;
          margin-bottom: 4vh; }
          .header__nav--links li a {
            color: #dfdddd; }
  li {
    opacity: 0; }
    li:nth-child(1) {
      transition: all 0.5s ease-in-out 0.2s; }
    li:nth-child(2) {
      transition: all 0.5s ease-in-out 0.4s; }
    li:nth-child(3) {
      transition: all 0.5s ease-in-out 0.6s; }
    li:nth-child(4) {
      transition: all 0.5s ease-in-out 0.8s; }
    li:nth-child(5) {
      transition: all 0.5s ease-in-out 1s; }
    li:nth-child(6) {
      transition: all 0.5s ease-in-out 1.2s; }
    li:nth-child(7) {
      transition: all 0.5s ease-in-out 1.4s; }
  .fade {
    opacity: 1; }
  .clicked {
    right: 0; }
    .clicked .line-1 {
      transform: rotateZ(-405deg) translate(-0.8rem, 0.6rem); }
    .clicked .line-2 {
      opacity: 0; }
    .clicked .line-3 {
      transform: rotateZ(405deg) translate(-0.8rem, -0.6rem); } }

.showcase {
  height: 100vh;
  width: 100%;
  background: linear-gradient(to right bottom, rgba(1, 73, 180, 0.8), rgba(18, 132, 219, 0.8)), url("../img/background-header.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  display: grid;
  overflow-x: hidden;
  grid-template-rows: min-content;
  grid-template-columns: repeat(auto-fit, minmax(43rem, 1fr));
  grid-auto-rows: min-content;
  grid-column-gap: 4rem;
  justify-content: center;
  align-content: center; }
  @media only screen and (min-width: 100em) {
    .showcase {
      padding: 15rem 0;
      margin-top: 5rem; } }
  @media only screen and (max-width: 62.5em) {
    .showcase {
      height: auto;
      padding: 15rem 0 7rem 0;
      clip-path: none; } }
  .showcase__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: moveInBottom 1s ease-out; }
    .showcase__left img {
      width: calc(20vh + 10vw);
      height: calc(20vh + 10vw);
      border-radius: 50%;
      border: 0.25rem solid #101d2c;
      display: flex;
      justify-content: center; }
  .showcase__right {
    align-self: center;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 2vw; }
    @media only screen and (max-width: 50em) {
      .showcase__right {
        padding-right: 0; } }
    .showcase__right span {
      display: flex;
      justify-content: center;
      align-items: center; }
    @media only screen and (max-width: 62.5em) {
      .showcase__right {
        padding-top: 7rem; } }
    .showcase__right .heading-primary {
      animation: moveInTop 1s ease-out; }

.bio {
  width: 100%;
  background-color: #f0f0f0;
  padding: 20rem 0 10rem 0;
  margin-top: -25vh;
  color: #4b4a4acc;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media only screen and (min-width: 100em) {
    .bio {
      margin-top: -15vh; } }
  @media only screen and (max-width: 62.5em) {
    .bio {
      box-shadow: none;
      margin-top: 0;
      padding: 8rem 0; } }
  .bio__title {
    display: flex;
    justify-content: center;
    align-items: center; }
  .bio__icon {
    margin-right: 2.5rem;
    color: #0149b4; }
  .bio .heading-secondary {
    display: flex;
    align-self: flex-end; }
  .bio__text {
    width: 70%; }
    @media only screen and (max-width: 62.5em) {
      .bio__text {
        width: 85%; } }
    .bio__text a,
    .bio__text a:link,
    .bio__text a:visited {
      text-decoration: none;
      font-size: 2rem;
      letter-spacing: 2px;
      color: #0149b4; }
    .bio__text a:hover,
    .bio__text a:visited {
      color: #2572e6; }

.education {
  width: 100%;
  display: grid;
  grid-template-rows: min-content min-content;
  grid-template-columns: minmax(32rem, 30%) minmax(32rem, 70%);
  align-content: center;
  overflow-x: hidden; }
  .education__left {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    padding: 5rem 10rem;
    background-image: linear-gradient(to right bottom, rgba(18, 132, 219, 0.6), rgba(18, 132, 219, 0.4)), url(../img/LOGO_UTH.png);
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .education__right {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    background: linear-gradient(to right, rgba(38, 63, 92, 0.7), rgba(37, 114, 230, 0.6));
    color: #dfdddd;
    padding: 4rem;
    justify-content: center;
    align-content: center; }
  .education__carousel {
    max-width: 100%;
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    align-self: center;
    padding: 15rem 0;
    background: linear-gradient(to right bottom, rgba(245, 175, 51, 0.9), #1284db);
    justify-content: center;
    align-content: center;
    display: flex; }
    .education__carousel .gallery {
      width: 55vw;
      min-height: auto;
      height: auto;
      overflow: hidden;
      box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.15);
      background: linear-gradient(to right, rgba(1, 73, 180, 0.8), rgba(37, 114, 230, 0.9));
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative; }
      .education__carousel .gallery__header {
        width: 5vw;
        height: auto;
        overflow: hidden;
        writing-mode: vertical-lr;
        transform: rotate(-0.5turn);
        display: flex;
        justify-content: center;
        align-items: center; }
        .education__carousel .gallery__header h2 {
          display: flex;
          justify-content: center;
          align-items: center; }
      .education__carousel .gallery__carousel {
        width: 50vw;
        height: 100%;
        overflow: hidden;
        box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.15);
        position: relative; }
        .education__carousel .gallery__carousel--images {
          display: flex;
          width: 100%;
          height: 100%;
          transform: translateX(0);
          transition: transform 0.5s ease-in-out; }
          .education__carousel .gallery__carousel--images img {
            max-width: 100%;
            object-fit: cover; }
        .education__carousel .gallery__carousel--buttons {
          position: absolute;
          top: calc(50% - 3vw);
          background: transparent;
          border: none;
          outline: none;
          cursor: pointer;
          z-index: 1; }
        .education__carousel .gallery__carousel .left-btn:link, .education__carousel .gallery__carousel .left-btn:visited,
        .education__carousel .gallery__carousel .right-btn:link,
        .education__carousel .gallery__carousel .right-btn:visited {
          transition: all 0.3s; }
        .education__carousel .gallery__carousel .left-btn:hover, .education__carousel .gallery__carousel .left-btn:active,
        .education__carousel .gallery__carousel .right-btn:hover,
        .education__carousel .gallery__carousel .right-btn:active {
          color: rgba(1, 73, 180, 0.7); }
        .education__carousel .gallery__carousel .left-btn:active,
        .education__carousel .gallery__carousel .right-btn:active {
          transform: scale(0.9) translate(0.2rem, -0.2rem); }
        .education__carousel .gallery__carousel .left-btn {
          left: 0.2rem; }
        .education__carousel .gallery__carousel .right-btn {
          right: 0.2rem; }

@media only screen and (max-width: 62.5em) {
  .education {
    grid-template-rows: min-content min-content min-content;
    grid-template-columns: minmax(32rem, 100vw); }
    .education__left {
      grid-row: 1 / 2;
      grid-column: 1 / 2;
      flex-direction: row;
      padding: calc(5rem + 2vw) 0; }
      .education__left-icon {
        margin-right: 2rem; }
    .education__right {
      grid-row: 2 / 3;
      grid-column: 1 / 2;
      display: flex;
      flex-direction: column;
      align-items: center; }
    .education__carousel {
      grid-row: 3 / 4;
      grid-column: 1 / 2; } }

@media only screen and (max-width: 50em) {
  .education__carousel {
    padding: 0; }
    .education__carousel .gallery {
      width: 100%; }
      .education__carousel .gallery__header {
        width: 20vw; }
      .education__carousel .gallery__carousel {
        width: 80vw; } }

@media only screen and (max-width: 37.5em) {
  .education__carousel .gallery__carousel--buttons {
    top: calc(50% - 6vw); }
  .education__carousel .gallery .left-btn,
  .education__carousel .gallery .right-btn {
    font-size: 4rem; } }

.section-skills {
  padding: calc(5rem + 2vw) 0 calc(5rem + 2vw) 0;
  background-color: #f0f0f0;
  color: #4b4a4acc;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  overflow-x: hidden; }
  .section-skills .skills__header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: calc(5rem + 0.3vw); }
  .section-skills .heading-tertiary {
    padding-left: calc(1rem + 1vw); }
  .section-skills .skills {
    display: grid;
    grid-template-rows: min-content;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    grid-auto-rows: min-content;
    grid-column-gap: 2rem;
    justify-content: center;
    align-content: center; }
    .section-skills .skills .skill__box {
      padding: 1.3vw;
      height: calc(100vw / 8);
      display: flex;
      flex-direction: column;
      justify-content: space-evenly; }
      .section-skills .skills .skill__box--progress {
        padding: 0.5rem;
        border-radius: 3rem;
        background-color: rgba(18, 132, 219, 0.8);
        margin-bottom: 2rem;
        display: flex;
        align-items: center; }
        .section-skills .skills .skill__box--progress span {
          display: inline-block;
          height: 1.2vw;
          border-radius: 1rem 0 0 1rem;
          background-color: #ffb73a; }
        .section-skills .skills .skill__box--progress__1 {
          --percentage: 95%;
          animation: progress 4s infinite cubic-bezier(1, 0, 0, 1); }
        .section-skills .skills .skill__box--progress__2 {
          --percentage: 60%;
          animation: progress 4s infinite cubic-bezier(1, 0, 0, 1); }
        .section-skills .skills .skill__box--progress__3 {
          --percentage: 50%;
          animation: progress 4s infinite cubic-bezier(1, 0, 0, 1); }
        .section-skills .skills .skill__box--progress__4 {
          --percentage: 95%;
          animation: progress 4s infinite cubic-bezier(1, 0, 0, 1); }
        .section-skills .skills .skill__box--progress__5 {
          --percentage: 80%;
          animation: progress 4s infinite cubic-bezier(1, 0, 0, 1); }
        .section-skills .skills .skill__box--progress__6 {
          --percentage: 70%;
          animation: progress 4s infinite cubic-bezier(1, 0, 0, 1); }
        .section-skills .skills .skill__box--progress__7 {
          --percentage: 70%;
          animation: progress 4s infinite cubic-bezier(1, 0, 0, 1); }
        .section-skills .skills .skill__box--progress__8 {
          --percentage: 70%;
          animation: progress 4s infinite cubic-bezier(1, 0, 0, 1); }

@media only screen and (max-width: 50em) {
  .section-skills .skills {
    height: auto;
    padding: 7rem 0;
    clip-path: none;
    grid-template-columns: repeat(auto-fit, minmax(37.5rem, 1fr)); }
    .section-skills .skills .skill__box--progress span {
      height: 1.2vw; } }

@media only screen and (max-width: 37.5em) {
  .section-skills .skills {
    grid-row-gap: 5rem; } }

.interests {
  background: linear-gradient(to right bottom, rgba(110, 109, 109, 0.5), rgba(18, 132, 219, 0.7));
  padding: calc(5rem + 2vw) 6rem calc(8rem + 2vw) 6rem;
  overflow-x: hidden; }
  .interests__header {
    padding-bottom: calc(5rem + 2vw);
    display: flex;
    justify-content: center;
    align-items: center; }
    .interests__header .heading-secondary {
      padding-left: 3rem; }
  .interests__box {
    position: relative;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(auto-fit, minmax(45rem, 1fr));
    grid-auto-rows: min-content;
    grid-gap: calc(1rem + 3vw);
    align-content: center;
    justify-items: center; }
    .interests__box--1, .interests__box--2, .interests__box--3, .interests__box--4, .interests__box--5, .interests__box--6 {
      position: relative;
      width: 60rem;
      height: 50rem;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      transition: all 0.35s ease-in-out; }
      @media only screen and (max-width: 75em) {
        .interests__box--1, .interests__box--2, .interests__box--3, .interests__box--4, .interests__box--5, .interests__box--6 {
          width: 50rem;
          height: 50rem; } }
      .interests__box--1:hover, .interests__box--1:active, .interests__box--2:hover, .interests__box--2:active, .interests__box--3:hover, .interests__box--3:active, .interests__box--4:hover, .interests__box--4:active, .interests__box--5:hover, .interests__box--5:active, .interests__box--6:hover, .interests__box--6:active {
        transform: scale(0.97);
        box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.15); }
        .interests__box--1:hover .interests__box--content,
        .interests__box--1:hover .interests__box--content, .interests__box--1:active .interests__box--content,
        .interests__box--1:active .interests__box--content, .interests__box--2:hover .interests__box--content,
        .interests__box--2:hover .interests__box--content, .interests__box--2:active .interests__box--content,
        .interests__box--2:active .interests__box--content, .interests__box--3:hover .interests__box--content,
        .interests__box--3:hover .interests__box--content, .interests__box--3:active .interests__box--content,
        .interests__box--3:active .interests__box--content, .interests__box--4:hover .interests__box--content,
        .interests__box--4:hover .interests__box--content, .interests__box--4:active .interests__box--content,
        .interests__box--4:active .interests__box--content, .interests__box--5:hover .interests__box--content,
        .interests__box--5:hover .interests__box--content, .interests__box--5:active .interests__box--content,
        .interests__box--5:active .interests__box--content, .interests__box--6:hover .interests__box--content,
        .interests__box--6:hover .interests__box--content, .interests__box--6:active .interests__box--content,
        .interests__box--6:active .interests__box--content {
          transform: scaleY(1);
          transform-origin: center; }
    .interests__box--1 {
      background: url(../img/sports.jpg); }
    .interests__box--2 {
      background: url(../img/pc-repairs.jpg); }
    .interests__box--3 {
      background: url(../img/hiking.jpg); }
    .interests__box--4 {
      background: url(../img/books.jpg); }
    .interests__box--5 {
      background: url(../img/traveling.jpg); }
    .interests__box--6 {
      background: url(../img/sketch-drawing.jpg); }
    .interests__box--content {
      width: 80%;
      height: 12rem;
      position: absolute;
      left: -2vw;
      bottom: 2vw;
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(to right bottom, rgba(245, 175, 51, 0.9), #1284db);
      transform: scaleY(0);
      transform-origin: top;
      transition: transform 0.35s ease-in-out; }

@media only screen and (max-width: 50em) {
  .interests {
    padding: 0; }
    .interests__header {
      padding: calc(5rem + 2vw) 0; }
    .interests__box {
      grid-template-columns: repeat(auto-fit, minmax(100vw, 1fr));
      grid-gap: 0; }
      .interests__box--1, .interests__box--2, .interests__box--3, .interests__box--4, .interests__box--5, .interests__box--6 {
        width: 100%; }
      .interests__box--1 {
        background: url(../img/sports.jpg); }
      .interests__box--2 {
        background: url(../img/pc-repairs.jpg); }
      .interests__box--3 {
        background: url(../img/hiking.jpg); }
      .interests__box--4 {
        background: url(../img/books.jpg); }
      .interests__box--5 {
        background: url(../img/traveling.jpg); }
      .interests__box--6 {
        background: url(../img/sketch-drawing.jpg); }
      .interests__box--content {
        left: 0;
        bottom: 0;
        width: 100%;
        transform: scale(1);
        transition: none; } }

@media only screen and (max-width: 37.5em) {
  .interests__box--1 {
    background: url(../img/sports__min.jpg); }
  .interests__box--2 {
    background: url(../img/pc-repairs__min.jpg); }
  .interests__box--3 {
    background: url(../img/hiking__min.jpg); }
  .interests__box--4 {
    background: url(../img/books__min.jpg); }
  .interests__box--5 {
    background: url(../img/traveling__min.jpg); }
  .interests__box--6 {
    background: url(../img/sketch-drawing__min.jpg); } }

.container {
  width: 95vw;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  background-color: #dfdddd;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  overflow-x: hidden; }
  @media only screen and (max-width: 62.5em) {
    .container {
      width: 100vw;
      margin: 0 auto;
      box-shadow: none; } }
